<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %>&nbsp; <%= config.author || config.title %> <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=sMnKyImGhvDBwZ7T390" style="text-decoration:none;">Email to me</a> <br>
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>
